.containerSlider {
    width: 90%;
    margin: 0 auto;
    border: 1px solid rgb(225, 225, 225);
    border-top: none;
    padding: 1rem 1.5rem .9rem;
    overflow: hidden;
    white-space: nowrap;

    .sliders {
        display: flex;
        width: max-content;
        // gap: 6rem;
        animation: slide-left 25s linear infinite;

        .slide {
            display: flex;
            gap: 2rem;
        }
        
        .linha {
            margin: 0 3rem;
        }

        @keyframes slide-left {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-50%);
            }
        }
    }
}