.containerSobre {
  width: 90%;
  padding: 2rem 1.5rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(225, 225, 225);
  border-top: none;
  border-bottom: none;

  @media screen and (min-width: 320px) and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }

  .containerEmail {
    padding: 1.5rem;
    transition: .3s ease-in-out;

    @media screen and (min-width: 320px) and (max-width: 880px) {
      margin-top: 3rem;
    }

    .icon {
      margin-bottom: 2rem;
      color: #ff0000;
      font-size: 1rem;
      transform: rotate(0);
      rotate: (180deg);
      transition: transform 0.3s ease-in-out;
    }

    a {
      text-decoration: none;
      color: #000;
      font-size: .9rem;
      font-family: 'Montserrat', sans-serif;
      border-bottom: 1px solid #c10528;
      transition: .3s ease-in-out;
    }

    &:hover .icon {
      transform: rotate(360deg);
    }
  }

  .container {
    color: #e5e5e5;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;

    @media screen and (min-width: 320px) and (max-width: 800px) {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
    }

    p {
      color: #000;
      letter-spacing: 1px;
      font-family: 'Nunito', sans-serif;
    }

    .animation {
      height: 30px;
      overflow: hidden;
      margin-left: 1rem;

      @media screen and (min-width: 320px) and (max-width: 375px) {
        height: 40px;
      }

      .textos {
        font-size: 1rem;
      }

      >div>div {
        padding: 0.15rem 0.75rem;
        height: 2.81rem;
        margin-bottom: 2.81rem;
        display: inline-block;
      }

      .firts,
      .second,
      .third {
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
      }

      div:first-child {
        animation: text-animation 8s infinite;
      }

      .first div {
        background-color: #20a7d8;
      }

      .second div {
        // background-color: #CD921E;
        background-color: #000;
      }

      .third div {
        background-color: #c10528;
      }
    }

    @keyframes text-animation {

      0%,
      10% {
        margin-top: 0;
      }

      20%,
      30% {
        margin-top: -5.62rem;
      }

      40%,
      60% {
        margin-top: -11.24rem;
      }

      70%,
      80% {
        margin-top: -5.62rem;
      }

      90%,
      100% {
        margin-top: 0;
      }
    }
  }
}

.containerApresentacao {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  border: 1px solid rgb(225, 225, 225);
  position: relative;

  .linha {
    height: 19px;
    width: 88%;
    margin: 0 auto;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, -50%);

    p {
      position: relative;
      color: #fff;
      left: 0;
      bottom: .2rem;
      font-family: 'Nunito', sans-serif;
      margin-left: 1rem;
      letter-spacing: 2px;
    }
  }

  .container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    border: 1px solid rgb(225, 225, 225);
    padding: 1.5rem;
    transition: .3s ease-in-out;

    @media screen and (min-width: 320px) and (max-width: 800px) {
      flex-direction: column;
    }

    .containerTexto,
    .containerImagem {
      width: 50%;
      margin: 2rem 0;

    }

    .containerTexto {
      margin-left: 3rem;
      transition: .3s ease-in-out;

      @media screen and (min-width: 320px) and (max-width: 1400px) {
        width: 100%;
        margin: 2rem 0 0;
      }

      p {
        width: 60%;
        font-family: 'Montserrat', sans-serif;
        transition: .3s ease-in-out;

        @media screen and (min-width: 320px) and (max-width: 1400px) {
          width: 90%;
          margin: 0 auto;
        }
      }
    }

    .containerImagem {
      display: flex;
      justify-content: center;
      transition: .3s ease-in-out;

      @media screen and (min-width: 320px) and (max-width: 1400px) {
        margin: 2rem auto 0;
      }

      img {
        width: 50%;
        border-radius: .4rem;
        box-shadow: 0 0 16px 2px rgba(0, 0, 0, .3);
        transition: .3s ease-in-out;
        z-index: 1;
        object-fit: cover;

        @media screen and (min-width: 320px) and (max-width: 1400px) {
          width: 100%;
        }
      }
    }
  }
}

.containerSobreMim {
  width: 100%;
  margin: 0 auto;
  height: auto;
  border: 1px solid rgb(225, 225, 225);
  border-right: 0;
  border-left: 0;

  .containerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    height: 120px;

    p {
      font-size: 4rem;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
      font-weight: 400;
      letter-spacing: 6px;

      transition: .3s ease-in-out;

      @media screen and (min-width: 320px) and (max-width: 900px) {
        font-size: 3rem;
      }
    }

    .icon {
      background-color: #000;
      color: #fff;
      padding: .4rem;
      border-radius: 6px;
      margin: 0 2rem;
    }

    .removeText {
      user-select: none;
      pointer-events: none;
      color: transparent;
    }
  }
}

.containerSkills {
  width: 100%;
  height: auto;
  transition: .3s ease-in-out;
  position: relative;
  border: 1px solid rgb(225, 225, 225);

  .linha {
    height: 19px;
    width: 88%;
    margin: 0 auto;
    background-color: #000;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      margin-left: 1rem;
      position: relative;
      left: 0;
      bottom: .2rem;
      font-family: 'Nunito', sans-serif;
      color: #fff;
      letter-spacing: 2px;
    }
  }


  .containerPrincipal {
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding: 0 1.5rem;
    border: 1px solid rgb(225, 225, 225);
    border-bottom: 0;
    border-top: 0;
    display: flex;
    justify-content: space-evenly;
    transition: .3s ease-in-out;

    @media screen and (min-width: 320px) and (max-width: 880px) {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .containerTexts,
    .containerTextsOne {
      padding: 4rem 0 2rem;
      transition: .3s ease-in-out;

      @media screen and (min-width: 320px) and (max-width: 880px) {
        padding: 2rem 0 1rem;
      }

      .container,
      .containerOne {

        h2 {
          font-family: 'Nunito', sans-serif;
          font-weight: 900;
          font-size: 1.1rem;
          letter-spacing: 1px;
          margin-bottom: .4rem;
        }

        p {
          font-family: 'Montserrat', sans-serif;
          letter-spacing: 1px;
          font-weight: 400;
          margin-bottom: .5rem;
        }
      }
    }
  }

  // .container {
  //   height: auto;
  //   width: 90%;
  //   margin: 0 auto;
  //   padding: 0 1.5rem;
  //   border: 1px solid rgb(225, 225, 225);
  //   border-bottom: 0;
  //   border-top: 0;
  //   display: flex;
  //   position: relative;

  //   @media screen and (min-width: 320px) and (max-width: 900px) {
  //     flex-direction: column;
  //   }

  //   .containerSoftsTexts {
  //     margin: 90%;
  //     margin: 0 auto;
  //     text-align: center;
  //     position: absolute;
  //     top: 36%;
  //     left: 28%;
  //     transform: translate(-50%, -50%);
  //     transition: .3s ease-in-out;

  //     @media screen and (min-width: 320px) and (max-width: 900px) {
  //       position: static;
  //       top: 0;
  //       left: 0;
  //       transform: none;
  //       margin-top: 2rem;
  //     }

  //     h2,
  //     h3,
  //     p {
  //       letter-spacing: 1px;
  //     }

  //     h2 {
  //       font-family: 'Nunito', sans-serif;
  //       font-size: 2.4rem;
  //       color: #4ea3c5;
  //     }

  //     h3 {
  //       font-weight: 700;
  //       font-size: 2rem;
  //       font-family: 'Nunito', sans-serif;
  //     }

  //     p {
  //       font-family: 'Montserrat', sans-serif;
  //     }
  //   }

  //   .softsImgs,
  //   .softsText {
  //     width: 50%;
  //     margin-top: 12rem;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     text-align: center;
  //     transition: .3s ease-in-out;

  //     @media screen and (min-width: 320px) and (max-width: 900px) {
  //       width: 100%;
  //       margin: 0 auto 6rem;
  //     }
  //   }

  //   .softsImgs {
  //     display: flex;
  //     align-items: center;
  //     gap: 1rem;
  //     padding: 2rem;
  //     transition: .3s ease-in-out;

  //     @media screen and (min-width: 320px) and (max-width: 399px) {
  //       padding: 1rem 0;
  //       flex-wrap: wrap;
  //       justify-content: center;
  //       gap: 2rem;
  //     }

  //     @media screen and (min-width: 400px) and (max-width: 900px) {
  //       padding: 1rem 0;
  //       position: relative;
  //       top: 2rem;
  //     }

  //     .imgReact,
  //     .imgTypeScript,
  //     .imgMySQL,
  //     .imgPhp,
  //     .imgJavaScript {
  //       width: 64px;
  //       height: 64px;
  //       background-repeat: no-repeat;
  //       background-position: center;
  //       background-color: #fff;
  //       box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
  //       border-radius: 100%;
  //       transition: .3s ease-in-out, background-color .3s ease-in-out;

  //       &:hover {
  //         transform: scale(1.1);
  //         cursor: pointer;
  //       }
  //     }

  //     .imgReact {
  //       background-image: url("../imagens/icons/sciene.png");
  //     }

  //     .imgTypeScript {
  //       background-image: url("../imagens/icons/typescript.png");
  //     }

  //     .imgMySQL {
  //       background-image: url("../imagens/icons/icon-mysql-colorido.webp");
  //     }

  //     .imgPhp {
  //       background-image: url("../imagens/icons/icon-php-colorido.png");
  //     }

  //     .imgJavaScript {
  //       background-image: url("../imagens/icons/icon-javascript-colorido.png");
  //       border-radius: 100%;
  //     }
  //   }

  //   .animation {
  //     position: absolute;
  //     right: 16%;
  //     top: 0;
  //   }

  //   .softsText {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     position: relative;
  //     bottom: 6rem;

  //     @media screen and (min-width: 320px) and (max-width: 900px) {
  //       bottom: 0;
  //     }

  //     h1 {
  //       color: #4ea3c5;
  //       font-family: 'Nunito', sans-serif;
  //       font-weight: 700;
  //       font-size: 2rem;
  //       letter-spacing: 1px;
  //     }

  //     p {
  //       font-family: 'Montserrat', sans-serif;
  //       letter-spacing: 1px;
  //       height: 100px;
  //     }
  //   }
  // }
}

.containerSofts {
  width: 100%;
  margin: 0 auto;
  transition: .3s ease-in-out;
  position: relative;

  .linha {
    height: 19px;
    width: 88%;
    margin: 0 auto;
    background-color: #000;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      margin-left: 1rem;
      position: relative;
      left: 0;
      bottom: .2rem;
      font-family: 'Nunito', sans-serif;
      color: #fff;
      letter-spacing: 2px;
    }
  }

  .containerSoftsSkills {
    border: 1px solid rgb(225, 225, 225);
    width: 90%;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;

    @media screen and (min-width: 320px) and (max-width: 880px) {
      display: flex;
      flex-wrap: wrap;
    }

    .skills {
      margin-top: 4rem;
    }

    .skillsOne {
      margin-bottom: 0;
    }

    .skillsTree {
      padding: 0;
    }

    .skills,
    .skillsOne,
    .skillsTree {
      width: 70%;
      margin-left: auto;
      display: flex;
      gap: 1.5rem;
      align-items: center;
      transition: .3s ease-in-out;
      padding: 1rem;

      @media screen and (min-width: 320px) and (max-width: 880px) {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 80%;
        margin: 0;
        padding: 1.5rem 0;
      }

      p {
        font-family: 'Nunito', sans-serif;
        font-size: 1.6rem;
      }

      .circle {
        background-color: #20a7d8;
        height: 10px;
        width: 10px;
        border-radius: 100%;
      }
    }
  }

  .projects {
    position: relative;
    bottom: 40px;
    width: 90%;
    margin-right: auto;

    .teste {
      position: relative;
      left: 90%;
      transition: .3s ease-in-out;

      @media screen and (min-width: 320px) and (max-width: 459px) {
        margin-top: .4rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      @media screen and (min-width: 320px) and (max-width: 880px) {
        left: 70%;
      }
    }
  }
}