.containerSobre {
    width: 90%;
    padding: 1.5rem;
    height: auto;
    margin: 0 auto;

    .icon {
        rotate: (180deg);
        margin-bottom: 2rem;
        color: #ff0000;
        font-size: 1rem;
    }

    .containerEmail {
        padding: 1.5rem;
        margin-left: .4rem;
    }
}