@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --font-nunito: 'Nunito', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(239, 239, 239, 1);
    // background-color: #000;
    overflow: auto;
    scrollbar-width: none;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}


.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    //   border: 2px solid #cfebf6;
    border: 2px solid #20a7d8;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1);
    transition: background-color 0.35s ease, border-color 0.35s ease, transform 0.25s ease;
    z-index: 9999;

    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.cursor::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    //   background-color: #cfebf6;
    background-color: #20a7d8;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.35s ease, width 0.25s ease, height 0.25s ease;
}

.cursor.fill {
    background-color: rgba(90, 175, 209, 0.6);
    border-color: rgba(90, 175, 209, 0.6);
    transform: translate(-50%, -50%);
}

.cursor.fill::after {
    background-color: rgba(90, 175, 209, 0.6);
    width: 8px;
    height: 8px;
}