.containerHome {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 1.5rem 1.5rem 1px;
    border: 1px solid rgb(225, 225, 225);
    border-bottom: none;
    border-top: none;
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out;
    overflow: hidden;

    @media screen and (min-width: 320px) and (max-width: 800px) {
        height: 100vh;
    }

    .containerApresentacao {
        width: 80%;
        transition: .3s ease-in-out;

        @media screen and (min-width: 320px) and (max-width: 880px) {
            width: 100%;
            margin: 3rem 0 0;
        }

        h2 {
            font-size: 3rem;
            font-weight: 500;
            font-family: 'Nunito', sans-serif;
            padding: 1.2rem;
            color: #000;
            letter-spacing: 1px;
            transition: .3s ease-in-out;

            @media screen and (min-width: 320px) and (max-width: 900px) {
                text-align: center;
                font-size: 1rem;

                @media screen and (max-width: 900px) {
                    font-size: 2rem;
                }
            }

            .containerSpan {
                color: #000;
                margin-left: 1rem;
            }

            span {
                color: #367086;
            }
        }
    }

    .containerAnimation {
        width: 100%;
        display: flex;
        height: 210px;
        transition: .3s ease-in-out;

        @media screen and (min-width: 320px) and (max-width: 900px) {
            display: inline-block;
        }

        .containerButton {
            width: 50%;
            transition: .3s ease-in-out;
            padding: 1rem;

            @media screen and (min-width: 320px) and (max-width: 900px) {
                position: relative;
                bottom: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }

        .container {
            width: 50%;

            .containerLottie {
                width: 50%;
                position: relative;
                bottom: 4rem;
                left: 50px;
                transition: .3s ease-in-out;

                @media screen and (min-width: 320px) and (max-width: 800px) {
                    width: 100%;
                    bottom: 60px;
                }
            }
        }
    }

    .containerBorda {
        background-color: #367086;
        width: 100%;
        height: 10px;
        margin-top: auto;

        // p {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     margin: 0;
        //     color: #fff;
        // }
    }
}

.containerLinha {
    border: 1px solid rgb(225, 225, 225);
    width: 100%;
    margin: 0 auto;
}

.containerTitleSlide {
    padding: 6rem;

    @media (max-width: 700px) {
        padding: 2rem;
    }

    h2 {
        line-height: 12px;
        letter-spacing: 2px;
        font-size: 6rem;
        font-weight: 500;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s ease-in-out;

        @media screen and (min-width: 320px) and (max-width: 800px) {
            font-size: 3rem;
        }

        .containerGitHub {
            background-color: #000;
            color: #fff;
            padding: .4rem;
            border-radius: 2px;
            margin: 0 2rem;
            align-items: center;
        }
    }
}