@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

.container {
    border-bottom: 1px solid rgb(225, 225, 225);

    .containerProjetos {
        width: 90%;
        margin: 0 auto;
        padding: 0 1.5rem;
        border: 1px solid rgb(225, 225, 225);
        border-bottom: none;
        position: relative;

        .linha {
            height: 19px;
            width: 92%;
            margin: 0 auto;
            background-color: #000;
            position: absolute;
            left: 50%;
            top: 10px;
            transform: translate(-50%, -50%);

            p {
                position: relative;
                color: #fff;
                left: 0;
                bottom: 1.1rem;
                font-family: 'Nunito', sans-serif;
                margin-left: 1rem;
                letter-spacing: 2px;
            }
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 4rem;

            .card {
                position: relative;
                min-width: 260px;
                height: 340px;
                // box-shadow:
                //     inset 5px 5px 5px rgba(0, 0, 0, 0.2),
                //     inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                //     5px 5px 15px rgba(0, 0, 0, 0.3),
                //     -5px -5px 15px rgba(255, 255, 255, 0.1);
                // box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
                border-radius: 15px;
                margin: 30px;
                transition: 0.5s;

                .box {
                    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
                    border: 2px solid #fff;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    right: 20px;
                    bottom: 20px;
                    background: #2a2b2f;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    transition: 0.5s;

                    &:hover {
                        transform: translateY(-20px);
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 100%;
                        // background: rgba(255, 255, 255, 0.03);
                    }

                    .content {
                        padding: 20px;
                        text-align: center;

                        h2 {
                            position: absolute;
                            top: -10px;
                            right: 30px;
                            font-size: 8rem;
                            color: rgba(255, 255, 255, 0.1);
                        }

                        h3 {
                            font-family: 'Nunito', sans-serif;
                            font-size: 1.2rem;
                            color: #fff;
                            z-index: 1;
                            transition: 0.5s;
                            margin-bottom: 15px;
                        }

                        p {
                            font-size: 1rem;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 300;
                            color: rgba(255, 255, 255, 0.9);
                            z-index: 1;
                            transition: 0.5s;
                        }

                        .containerIcons {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1rem;
                            position: relative;
                            top: 1rem;

                            a {
                                cursor: pointer !important;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .box {
                        background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("/imagens/comingSoon.webp");
                        background-position: center;
                        background-size: cover;
                        cursor: pointer;
                    }
                }

                &:nth-child(3) {
                    .box {
                        background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("/imagens/comingSoon.webp");
                        background-position: center;
                        background-size: cover;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.containerSliderProjetos {
    width: 90%;
    padding: 0 1.5rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1,
    p {
        font-size: 5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        border: none;
    }

    span {
        background-color: #000;
        border-radius: .3rem;
        color: #fff;
        padding: .4rem;
    }
}