.containerButton {
  width: 300px;
  height: 100px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerButton a {
  position: relative;
  margin-left: 2rem;
  width: 60%;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  background-color: #000;
  border-radius: 3rem;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  transition: color 0.3s ease;
  transform: rotate(0);
}
.containerButton a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
  background-color: #4ea3c5;
  border-radius: 3rem;
  transition: width 0.9s ease, height 0.9s ease;
  z-index: -1;
}
.containerButton a:hover::before {
  height: 100%;
  width: 100%;
}
.containerButton a:hover {
  color: #fff;
}