.containerHeader {
  width: 100%;
  border: 1px solid rgb(225, 225, 225);
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgb(225, 225, 225);
  border-bottom: none;
  padding: 1.5rem;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 320px) and (max-width: 880px) {
  .container {
    position: fixed;
    background-color: rgb(239, 239, 239);
    z-index: 999;
    top: 0;
  }
}
.container .containerHome {
  width: 20%;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 880px) {
  .container .containerHome {
    width: 45%;
    z-index: 999;
  }
}
.container .containerHome .animatedLink {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  position: relative;
  color: #000;
  text-align: center;
}
.container .containerHome .animatedLink .textWrapper {
  position: relative;
  overflow: hidden;
}
.container .containerHome .animatedLink .text {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  letter-spacing: 1px;
}
.container .containerHome .animatedLink .textTop {
  letter-spacing: 1px;
  transform: translateY(0);
  position: relative;
  z-index: 1;
}
.container .containerHome .animatedLink .textTop a {
  text-decoration: none;
  color: #000;
}
.container .containerHome .animatedLink .textBottom {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(0);
  opacity: 0;
}
.container .containerHome .animatedLink .textBottom a {
  text-decoration: none;
  color: #000;
}
.container .containerHome .animatedLink:hover .textTop {
  transform: translateY(-100%);
  opacity: 0;
}
.container .containerHome .animatedLink:hover .textBottom {
  transform: translateY(-100%);
  opacity: 1;
}
.container .containerHome .animatedLink .iconHome {
  transition: transform 0.6s ease-in-out;
  transform-origin: center center;
}
.container .containerHome .animatedLink:hover .iconHome {
  transform: rotate(360deg) scale(1.1);
}
.container .mudarTema {
  background-color: #000;
  color: #fff;
  padding: 0.6rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  z-index: 999;
  display: none;
}
.container .mudarTema:hover {
  background-color: #4ea3c5;
  border-radius: 0.1rem;
  transform: scale(1.1);
}
.container .containerLinks {
  width: 80%;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  gap: 4rem;
}
.container .containerLinks .div1,
.container .containerLinks .div2,
.container .containerLinks .div3 {
  display: flex;
  align-items: center;
  text-align: center;
}
.container .containerLinks .div1 {
  display: flex;
  flex-direction: column;
}
.container .containerLinks .div1 p {
  color: #646464;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  width: 80%;
  text-align: left;
  align-items: center;
  display: flex;
  gap: 0.4rem;
}
.container .containerLinks .div1 p:nth-child(2) {
  color: #000;
}
.container .containerLinks .div1 p .circleStatus {
  background-color: #28a028;
  border-radius: 100%;
  animation: pulse-animation 2s infinite;
  vertical-align: middle;
  transform: translateY(-0.1em);
}
@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 0.2rem #28a028;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.5;
    box-shadow: 0 0 #28a028;
  }
}
.container .containerLinks .div2,
.container .containerLinks .div3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container .containerLinks .div2 div p,
.container .containerLinks .div3 div p {
  padding: 0;
  margin: 0;
  color: #646464;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
}
.container .containerLinks .div2 .linkGrid,
.container .containerLinks .div3 .linkGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container .containerLinks .div2 .linkGrid a,
.container .containerLinks .div3 .linkGrid a {
  text-decoration: none;
  color: #000;
  position: relative;
  margin-right: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 4px;
  font-size: 0.9rem;
  font-family: "Nunito", sans-serif;
}
.container .containerLinks .div2 .linkGrid a::after,
.container .containerLinks .div3 .linkGrid a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  border-bottom: 2px solid #4ea3c5;
  transition: width 0.6s ease-in-out;
}
.container .containerLinks .div2 .linkGrid a:hover::after,
.container .containerLinks .div3 .linkGrid a:hover::after {
  width: 100%;
}

.BotaoInterativo {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  color: #eee;
}
.BotaoInterativo p {
  position: relative;
  display: inline-block;
  transition: transform 0.5s ease;
}
.BotaoInterativo::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  color: #eee;
  transform: skewY(12deg);
  transition: transform 0.5s ease;
}
.BotaoInterativo:hover p {
  transform: translateY(-110%) skewY(12deg);
}
.BotaoInterativo:hover::before {
  transform: translateY(-100%) skewY(0deg);
  top: 0;
}

.navTrigger {
  position: relative;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  display: none;
}
.navTrigger svg {
  width: 64px;
  height: 48px;
  stroke: #000;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  position: relative;
  right: 3rem;
}
.navTrigger svg path {
  transition: stroke-dasharray 0.85s ease, stroke-dashoffset 0.85s ease;
  stroke-dasharray: 26px 100px;
  stroke-dashoffset: 126px;
}
.navTrigger svg path:nth-child(2) {
  transition-timing-function: ease-in;
  stroke-dashoffset: 100px;
  stroke-dasharray: 26px 74px;
}
.navTrigger svg path:nth-child(3) {
  stroke-dashoffset: 133px;
  stroke-dasharray: 26px 107px;
}

.navTrigger.active svg {
  stroke: #000;
  z-index: 111;
}
.navTrigger.active svg path {
  stroke-dashoffset: 57px;
}
.navTrigger.active svg path:nth-child(1), .navTrigger.active svg path:nth-child(3) {
  transition-timing-function: cubic-bezier(0.2, 0.4, 0.2, 1.1);
  transition-delay: 0.15s;
}
.navTrigger.active svg path:nth-child(2) {
  stroke-dashoffset: 2px;
  stroke-dasharray: 1px 100px;
  transition-duration: 0.4s;
  transition-delay: 0s;
}
.navTrigger.active svg path:nth-child(3) {
  stroke-dashoffset: 58px;
}

.navMenu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 4rem;
  background: transparent;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.375s ease;
}
.navMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navMenu ul .navLinks {
  margin: 0.8rem 0 0 0.8rem;
  color: #20A7D8;
}
.navMenu ul li,
.navMenu ul a {
  margin: 0.6rem 0 0 0.6rem;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
.navMenu ul a {
  margin: 0 0 0 2rem;
}

.navMenu.active {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  background-color: rgb(239, 239, 239);
  display: block;
}

@media (max-width: 880px) {
  .containerLinks {
    display: none !important;
  }
  .navTrigger {
    display: block !important;
  }
  .navMenu {
    display: block !important;
  }
}
@media (min-width: 881px) {
  .containerLinks {
    display: flex !important;
  }
  .navTrigger {
    display: none !important;
  }
  .navMenu {
    display: none !important;
  }
}